
.header
  h1.inLn George Sherman Peck III
  ul.navTop
    li
      a(href='/') Home
    li
      a(href='/login') Login
    li
      a(href='/experiences') Experiences
    li
      a(href='/projects') Projects
