doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Vessels In Clay
  link(rel='stylesheet', href='/compile/styles/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display&display=swap', rel='stylesheet')
body
.header
  h1=status
.contents--error
  h1=message
  if(error)
    pre=error.stack
  h2 Fucker
  p What????
.footer
  p Do Better You Dirty Bastard!!!!!!!!!!