.contents
  p
    | This site is proof of my existance.  It&apos;s digital blood coarses with my lifes work.  I pumped my passion into learning this magical technology so I could leave a trace of me behind.  My passion for making clay pots is rooted in the same desire.  Exploration of the beauty of form and effortlessness function is my purpose.  
  p
    | Working code, clay, pedal or proposition I have learned to enjoy the process.  The process of worshipping nature, my warrior spirit and the animals that surround me.  Breath deep, exhale the past and send it where the sun always shines.
