.wrapper
  ul
  li
    a(href='/family') Peck Farm Park
  li
    a(href='/wilderness') Wyoming Wilderness
  li
    a(href='/genX') Generation X
  li
    a(href='/ashes') Out of the Ashes
  li
    a(href='/engineering') Root Builder
  li
    a(href='/shredification') Shredification
  li
    a(href='/projection') Projection
  li
    a(href='/expiration') Expiration

  button.btn
    a(href='/experienceDetail') Share

  .contentsInLn150sq
    img(src='/images/300sqSelfPortrait.jpg', alt='')

  