wrapper__img
   img(src='/images/1920x1080.jpg', alt='')
  wrapper__img
   img(src='/images/1080x1080.jpg', alt='')
  wrapper__img
   img(src='/images/1280x720.jpg', alt='')
  wrapper__img
   img(src='/images/300x600halfPage.jpg', alt='')
  wrapper__img
   img(src='/images/336x280lgRec.jpg', alt='')
  wrapper__img
   img(src='/images/160x600skySkprWd.jpg', alt='')
  wrapper__img
   img(src='/images/970x90ldrBrdLg.jpg', alt='')
  wrapper__img
   img(src='/images/120x60skySkpr.jpg', alt='')
  wrapper__img
   img(src='/images/728x90ldrBrd.jpg', alt='')
  wrapper__img
   img(src='/images/970x250billboard.jpg', alt='')
  wrapper__img
   img(src='/images/300x1050portrait.jpg', alt='')
  wrapper__img
   img(src='/images/320x100mobileLg.jpg', alt='')
  wrapper__img
   img(src='/images/468x60bannerMain.jpg', alt='')
  wrapper__img
   img(src='/images/250x250sq.jpg', alt='')
  wrapper__img
   img(src='/images/320x50mobile.jpg', alt='')
  wrapper__img
   img(src='/images/180x150recSm.jpg', alt='')
  wrapper__img
   img(src='/images/120x240bannerVert.jpg', alt='')
  wrapper__img
   img(src='/images/320x250lgRec.jpg', alt='')
  wrapper__img
   img(src='/images/234x60bannerHalf.jpg', alt='')