doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title gsp3
  link(rel='stylesheet', href='/compile/styles/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display&display=swap', rel='stylesheet')
body
include includes/header
block experiencelist
block artistStatement
block content
block loginlist
include includes/footer